// global
$background-primary: #F6F6F6;
$header-color:       #666666;
$link-color:         #479FC9;
$link-color-hover:   darken(#479FC9, 20%);
$primary:            #399EC9;
$secondary:          #F59631;
$text-color:         #666;

// tables
$table-header-background: #8A8E8F;
$table-header-color:      #EFF0F0;

// cards
$card-active:           #67BF68;
$card-background:       #FFF;
$card-border:           #ccc;
$card-navigator-arrow:  #F6B673;
$card-progress:         #6CC26E;
$card-separator-bright: #F5964C;
$card-separator-dark:   #F5964C;
