.badge {
  border: 1px solid $badge-border;
  border-radius: 100px;
  display: inline-block;
  height: 17px;
  width: 17px;

  &--active {
    background: $badge-active;
  }

  &--inactive {
    background: $badge-inactive;
  }

  &--big {
    height: 20px;
    width: 20px;
  }
}
