.card {
  background: $card-background;
  border: 1px solid $card-border;
  border-top-left-radius:  7px;
  border-top-right-radius: 7px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding: 18px 15px;
  position: relative;
}

.card__header {
  border-bottom: 2px solid $separator-bright;
  height: 37px;
  margin-bottom: 3px;
  overflow: hidden;
  padding-bottom: 17px;
}

.card__title {
  font-size: 26px;
  line-height: 20px;
  margin: 0;

  &--small {
    font-size: 17px;
    margin-top: 12px;
    margin-left: 24px;
  }
}

.card-controls {
  list-style-type: none;
  height: 28px;
  margin: 0;
  position: absolute;
  top: 18px;

  &--center {
    display: block;
    left: 0;
    margin-top: 4px;
    right: 0;
    text-align: center;
  }

  &--right {
    right: 15px;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
  }
}

.card--tall-footer {
  padding-bottom: 115px;
}
