.collapsible-content__wrapper {
  padding: 10px 10px 50px 28px;
}

.icon-collapsible-toggle {
  background-image: image_url('minus.svg');
  height: 19px;
  margin-right: 10px;
  width: 19px;

  &--collapsed {
    background-image: image_url('plus.svg');
  }
}

.collapsible-toggle {
  cursor: pointer;
}
